@import "./_color.css";

button {
  font-family: "Pretendard";
  cursor: pointer;
}

/* 외곽선 button */
.outlined_btn{
  border: 1px solid var(--brand-primary-default);
  color: var(--brand-primary-default);
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

/* 색 채워진 button */
.filled_btn{
  background-color: var(--brand-primary-default);
  color: var(--button-text-filled-text);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.search_btn {
  width: 65px;
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--brand-primary-default);
  color: var(--brand-primary-default);
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.delete_btn {
  width: 65px;
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--state-alert-error);
  color: var(--state-alert-error);
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
}