:root {
  /* 축소 네비게이션 */
  --light-s-nav-smile: url('../img/icon/light/icon_small_nav_smile.svg');
  --light-s-nav-favorite: url('../img/icon/light/icon_small_nav_favorite.svg');
  --light-s-nav-menu: url('../img/icon/light/icon_small_nav_menu.svg');
  --light-s-nav-card: url('../img/icon/light/icon_small_nav_card.svg');
  --light-s-nav-backpack: url('../img/icon/light/icon_small_nav_backpack.svg');
  --light-s-nav-back: url('../img/icon/light/icon_small_nav_back.svg');

  --pastel-s-nav-smile: url('../img/icon/pastel/icon_small_nav_smile_p.svg');
  --pastel-s-nav-favorite: url('../img/icon/pastel/icon_small_nav_favorite_p.svg');
  --pastel-s-nav-menu: url('../img/icon/pastel/icon_small_nav_menu_p.svg');
  --pastel-s-nav-card: url('../img/icon/pastel/icon_small_nav_card_p.svg');
  --pastel-s-nav-backpack: url('../img/icon/pastel/icon_small_nav_backpack_p.svg');
  --pastel-s-nav-back: url('../img/icon/pastel/icon_small_nav_back_p.svg');


  --dark-s-nav-smile: url('../img/icon/dark/icon_small_nav_smile_d.svg');
  --dark-s-nav-favorite: url('../img/icon/dark/icon_small_nav_favorite_d.svg');
  --dark-s-nav-menu: url('../img/icon/dark/icon_small_nav_menu_d.svg');
  --dark-s-nav-card: url('../img/icon/dark/icon_small_nav_card_d.svg');
  --dark-s-nav-backpack: url('../img/icon/dark/icon_small_nav_backpack_d.svg');
  --dark-s-nav-back: url('../img/icon/dark/icon_small_nav_back_d.svg');

  /* 확대 네비게이션 */
  --nav-home: url('../img/icon/icon_nav_home.svg');
  --nav-diagram: url('../img/icon/icon_nav_diagram.svg');
  --nav-overview: url('../img/icon/icon_nav_overview.svg');
  --nav-category: url('../img/icon/icon_nav_category.svg');
  --nav-dashboard: url('../img/icon/icon_nav_dashboard.svg');
  --nav-favorite: url('../img/icon/icon_nav_favorite.svg');
  --nav-schedule: url('../img/icon/icon_nav_schedule.svg');
  --nav-default-profile: url('../img/icon/icon_default_profile.svg');
  --nav-home-w: url('../img/icon/icon_nav_home_w.svg');
  --nav-diagram-w: url('../img/icon/icon_nav_diagram_w.svg');
  --nav-overview-w: url('../img/icon/icon_nav_overview_w.svg');
  --nav-category-w: url('../img/icon/icon_nav_category_w.svg');
  --nav-dashboard-w: url('../img/icon/icon_nav_dashboard_w.svg');
  --nav-favorite-w: url('../img/icon/icon_nav_favorite_w.svg');
  --nav-schedule-w: url('../img/icon/icon_nav_schedule_w.svg');

  --light-nav-close: url('../img/icon/light/btn_navigation_close.svg');
  --light-nav-open: url('../img/icon/light/btn_navigation_open.svg');
  --pastel-nav-close: url('../img/icon/pastel/btn_navigation_close.svg');
  --pastel-nav-open: url('../img/icon/pastel/btn_navigation_open.svg');


  /* 필터 */
  --filter-large-on-light: url('../img/icon/light/filter_slide_on_large.svg');
  --filter-large-off-light: url('../img/icon/light/filter_slide_off_large.svg');
  --filter-small-on-light: url('../img/icon/light/filter_slide_on_large.svg');
  --filter-small-off-light: url('../img/icon/light/filter_slide_off_large.svg');

  --filter-large-on-pastel: url('../img/icon/pastel/filter_slide_on_large_p.svg');
  --filter-large-off-pastel: url('../img/icon/pastel/filter_slide_off_large_p.svg');
  --filter-small-on-pastel: url('../img/icon/pastel/filter_slide_on_large_p.svg');
  --filter-small-off-pastel: url('../img/icon/pastel/filter_slide_off_large_p.svg');

  --filter-large-on-dark: url('../img/icon/dark/filter_slide_on_large_d.svg');
  --filter-large-off-dark: url('../img/icon/dark/filter_slide_off_large_d.svg');
  --filter-small-on-dark: url('../img/icon/dark/filter_slide_on_large_d.svg');
  --filter-small-off-dark: url('../img/icon/dark/filter_slide_off_large_d.svg');

  /* 테이블 페이지네이션 이동 버튼 */
  /* disabled 이미지는 없음 우선 active가 된거는 next, last 뿐임 */
  --table-slide-next-default: url('../img/icon/light/table_default_next.svg');
  --table-slide-prev-default: url('../img/icon/light/table_default_prev.svg');
  --table-slide-first-default: url('../img/icon/light/table_default_first.svg');
  --table-slide-last-default: url('../img/icon/light/table_default_last.svg');

  /* dark모드인데 전용 테이블 슬라이드 버튼이 없음*/
  --table-slide-next-dark: url('../img/icon/dark/table_slide_next_d.svg');
  --table-slide-prev-dark: url('../img/icon/dark/table_slide_prev_d.svg');
  --table-slide-first-dark: url('../img/icon/dark/table_slide_first_d.svg');
  --table-slide-last-dark: url('../img/icon/dark/table_slide_last_d.svg');

  /* 테이블 pdf 이미지 */
  --table-pdf-light: url('../img/icon/light/table_pdf_download.svg');
  --table-pdf-pastel: url('../img/icon/pastel/table_pdf_download_p.svg');
  --table-pdf-dark: url('../img/icon/dark/table_pdf_download_d.svg');

  /* header */
  --header-home-light: url('../img/icon/light/icon_home.svg');
  --header-arrow-light: url('../img/icon/light/icon_arrow_right.svg');
  --header-notify-light: url('../img/icon/light/btn_notify.svg');
  --header-notify-on-light: url('../img/icon/light/btn_notify_on.svg');
  --header-mail-light: url('../img/icon/light/btn_mail.svg');
  --header-language-light: url('../img/icon/light/icon_language.svg');
  --header-logout-light: url('../img/icon/light/icon_logout.svg');
  --header-screen-light: url('../img/icon/light/btn_screen_mode.svg');

  --header-home-pastel: url('../img/icon/light/icon_home.svg');
  --header-arrow-pastel: url('../img/icon/light/icon_arrow_right.svg');
  --header-notify-pastel: url('../img/icon/pastel/btn_notify_p.svg');
  --header-notify-on-pastel: url('../img/icon/pastel/btn_notify_on_p.svg');
  --header-mail-pastel: url('../img/icon/pastel/btn_mail_p.svg');
  --header-language-pastel: url('../img/icon/pastel/icon_language_p.svg');
  --header-logout-pastel: url('../img/icon/pastel/icon_logout_p.svg');
  --header-screen-pastel: url('../img/icon/pastel/btn_screen_mode_p.svg');

  --header-home-dark: url('../img/icon/light/icon_home.svg');
  --header-arrow-dark: url('../img/icon/light/icon_arrow_right.svg');
  --header-notify-dark: url('../img/icon/dark/btn_notify_d.svg');
  --header-notify-on-dark: url('../img/icon/dark/btn_notify_on_d.svg');
  --header-mail-dark: url('../img/icon/dark/btn_mail_d.svg');
  --header-language-dark: url('../img/icon/dark/icon_language_d.svg');
  --header-logout-dark: url('../img/icon/dark/icon_logout_d.svg');
  --header-screen-dark: url('../img/icon/dark/btn_screen_mode_d.svg');


  /* 테이블 헤더 아이콘 */
  --table-header-filter-light: url('../img/icon/light/table_header_filter.svg');
  --table-header-sort-light: url('../img/icon/light/table_btn_sort.svg');
  --table-header-filter-pastel: url('../img/icon/pastel/table_header_filter_p.svg');
  --table-header-sort-pastel: url('../img/icon/pastel/table_btn_sort_p.svg');
  --table-header-filter-dark: url('../img/icon/dark/table_header_filter_d.svg');
  --table-header-sort-dark: url('../img/icon/dark/table_btn_sort_d.svg');
}



:root,
:root.light {
  /*축소 네비게이션*/
  --s-nav-smile: var(--light-s-nav-smile);
  --s-nav-favorite: var(--light-s-nav-favorite);
  --s-nav-menu: var(--light-s-nav-menu);
  --s-nav-card: var(--light-s-nav-card);
  --s-nav-backpack: var(--light-s-nav-backpack);
  --s-nav-back: var(--light-s-nav-back);

  /*네비게이션*/
  --gnb-home: var(--nav-home);
  --gnb-diagram: var(--nav-diagram);
  --gnb-overview: var(--nav-overview);
  --gnb-category: var(--nav-category);
  --gnb-dashboard: var(--nav-dashboard);
  --gnb-favorite: var(--nav-favorite);
  --gnb-schedule: var(--nav-schedule);
  --gnb-default-profile: var(--nav-default-profile);
  --gnb-home-on: var(--nav-home-w);
  --gnb-diagram-on: var(--nav-diagram-w);
  --gnb-overview-on: var(--nav-overview-w);
  --gnb-category-on: var(--nav-category-w);
  --gnb-dashboard-on: var(--nav-dashboard-w);
  --gnb-favorite-on: var(--nav-favorite-w);
  --gnb-schedule-on: var(--nav-schedule-w);
  --gnb-open-btn: var(--light-nav-open);
  --gnb-close-btn: var(--light-nav-close);

  /* 필터 */
  --filter-large-on: var(--filter-large-on-light);
  --filter-large-off: var(--filter-large-off-light);
  --filter-small-on: var(--filter-small-on-light);
  --filter-small-off: var(--filter-small-off-light);

  /* 테이블 슬라이드 */
  --table-slide-next: var(--table-slide-next-default);
  --table-slide-prev: var(--table-slide-prev-default);
  --table-slide-lasst: var(--table-slide-last-default);
  --table-slide-first: var(--table-slide-first-default);

  /* 테이블 pdf 이미지 */
  --table-pdf: var(--table-pdf-light);

  /* header 아이콘 */
  --header-home: var(--header-home-light);
  --header-arrow: var(--header-arrow-light);
  --header-notify: var(--header-notify-light);
  --header-notify-on: var(--header-notify-on-light);
  --header-mail: var(--header-mail-light);
  --header-language: var(--header-language-light);
  --header-logout: var(--header-logout-light);
  --header-screen: var(--header-screen-light);
}

:root.pastel {
  --s-nav-smile: var(--pastel-s-nav-smile);
  --s-nav-favorite: var(--pastel-s-nav-favorite);
  --s-nav-menu: var(--pastel-s-nav-menu);
  --s-nav-card: var(--pastel-s-nav-card);
  --s-nav-backpack: var(--pastel-s-nav-backpack);
  --s-nav-back: var(--pastel-s-nav-back);

  /*네비게이션*/
  --gnb-home: var(--nav-home);
  --gnb-diagram: var(--nav-diagram);
  --gnb-overview: var(--nav-overview);
  --gnb-category: var(--nav-category);
  --gnb-dashboard: var(--nav-dashboard);
  --gnb-favorite: var(--nav-favorite);
  --gnb-schedule: var(--nav-schedule);
  --gnb-default-profile: var(--nav-default-profile);
  --gnb-home-on: var(--nav-home-w);
  --gnb-diagram-on: var(--nav-diagram-w);
  --gnb-overview-on: var(--nav-overview-w);
  --gnb-category-on: var(--nav-category-w);
  --gnb-dashboard-on: var(--nav-dashboard-w);
  --gnb-favorite-on: var(--nav-favorite-w);
  --gnb-schedule-on: var(--nav-schedule-w);
  --gnb-open-btn: var(--pastel-nav-open);
  --gnb-close-btn: var(--pastel-nav-close);

  /* 필터 */
  --filter-large-on: var(--filter-large-on-pastel);
  --filter-large-off: var(--filter-large-off-pastel);
  --filter-small-on: var(--filter-small-on-pastel);
  --filter-small-off: var(--filter-small-off-pastel);

  /* 테이블 슬라이드 */
  --table-slide-next: var(--table-slide-next-default);
  --table-slide-prev: var(--table-slide-prev-default);
  --table-slide-lasst: var(--table-slide-last-default);
  --table-slide-first: var(--table-slide-first-default);

  /* 테이블 pdf 이미지 */
  --table-pdf: var(--table-pdf-pastel);

  /* header 아이콘 */
  --header-home: var(--header-home-pastel);
  --header-arrow: var(--header-arrow-pastel);
  --header-notify: var(--header-notify-pastel);
  --header-notify-on: var(--header-notify-on-pastel);
  --header-mail: var(--header-mail-pastel);
  --header-language: var(--header-language-pastel);
  --header-logout: var(--header-logout-pastel);
  --header-screen: var(--header-screen-pastel);
}

:root.dark {
  --s-nav-smile: var(--dark-s-nav-smile);
  --s-nav-favorite: var(--dark-s-nav-favorite);
  --s-nav-menu: var(--dark-s-nav-menu);
  --s-nav-card: var(--dark-s-nav-card);
  --s-nav-backpack: var(--dark-s-nav-backpack);
  --s-nav-back: var(--dark-s-nav-back);

  /*네비게이션*/
  --gnb-home: var(--nav-home-w);
  --gnb-diagram: var(--nav-diagram-w);
  --gnb-overview: var(--nav-overview-w);
  --gnb-category: var(--nav-category-w);
  --gnb-dashboard: var(--nav-dashboard-w);
  --gnb-favorite: var(--nav-favorite-w);
  --gnb-schedule: var(--nav-schedule-w);
  --gnb-default-profile: var(--nav-default-profile);
  --gnb-home-on: var(--nav-home);
  --gnb-diagram-on: var(--nav-diagram);
  --gnb-overview-on: var(--nav-overview);
  --gnb-category-on: var(--nav-category);
  --gnb-dashboard-on: var(--nav-dashboard);
  --gnb-favorite-on: var(--nav-favorite);
  --gnb-schedule-on: var(--nav-schedule);
  --gnb-open-btn: var(--light-nav-open);
  --gnb-close-btn: var(--light-nav-close);

  /* 필터 */
  --filter-large-on: var(--filter-large-on-dark);
  --filter-large-off: var(--filter-large-off-dark);
  --filter-small-on: var(--filter-small-on-dark);
  --filter-small-off: var(--filter-small-off-dark);

  /* 테이블 슬라이드 */
  --table-slide-next: var(--table-slide-next-default);
  --table-slide-prev: var(--table-slide-prev-default);
  --table-slide-lasst: var(--table-slide-last-default);
  --table-slide-first: var(--table-slide-first-default);

  /* 테이블 pdf 이미지 */
  --table-pdf: var(--table-pdf-dark);

  /* header 아이콘 */
  --header-home: var(--header-home-pastel);
  --header-arrow: var(--header-arrow-pastel);
  --header-notify: var(--header-notify-pastel);
  --header-notify-on: var(--header-notify-on-pastel);
  --header-mail: var(--header-mail-pastel);
  --header-language: var(--header-language-pastel);
  --header-logout: var(--header-logout-pastel);
  --header-screen: var(--header-screen-pastel);
}
