@import "./font.css";
@import "_color.css";


input::placeholder {
  font-family: "Pretendard";
  color: var(--gray-70);
}

input::-webkit-input-placeholder {
  font-family: "Pretendard";
}

input:-ms-input-placeholder {
  font-family: "Pretendard";
}

input:-moz-placeholder {
  font-family: "Pretendard";
}

input::-moz-placeholder {
  font-family: "Pretendard";
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius:4px;
  border: solid 1px var(--button-disabled-outlined-border);
}
input[type="checkbox"]:focus{
  outline: 0 none;
  border: solid 1.5px var(--field-focused-border);
}

input[type="checkbox"]:checked {
  background: var(--brand-primary-default) url("../img/btn_checkbox.svg") no-repeat center;
}

input[type="checkbox"] + label {
  color: var(--gray-45);
  font-size:14px;
  font-weight: 500;
  margin-left: 8px;
}

input[type="text"] {
  font-family: "Pretendard";
  font-size: 16px;
  color: var(--neutral-default);
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid 1px var(--field-inactive-border);
  background-color: var(--field-inactive-bg);
  width: 100%;
  height: 52px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
}

.input_item_box .text_label {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
  color:var(--neutral-default);
  padding-bottom: 10px;
}

.require_sign {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
  color: var(--red-500);
}

input[type="text"]:focus {
  outline: 1.5px solid var(--field-focused-border);
}

input[type="text"].require {
  border: solid 1px var(--field-required-border);
  background-color: var(--field-required-bg);
}


.input_item_box .select_label select {
  font-family: "Pretendard";
  width: 100%;
  border: 1px solid var(--field-inactive-border);
  padding: 7px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-sizing: border-box;
  height: 52px;
  margin-top: 10px;
  -webkit-appearance:none; /* for chrome */
  -moz-appearance:none; /*for firefox*/
  appearance:none;
  background: var(--select-arrow) var(--field-inactive-bg) no-repeat 95% 50%/17px auto;
  font-size: 16px;
  color: var(--neutral-default);
}

.input_item_box .select_label select:focus {
  outline: 1.5px solid var(--field-focused-border);
}

.input_item_box .select_label select:invalid {
  color: var(--gray-70);
}

.input_item_box .select_label select option{
  font-family: "Pretendard";
  color: var(--neutral-default);
}

.input_item_box .text_label .search {
  padding-left: 54px;
  background: var(--input-search) var(--field-inactive-bg) no-repeat 20px center;
}

.input_item_box .date_label {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
  color:var(--neutral-default);
  padding-bottom: 10px;
}

input[type="date"] {
  font-family: "Pretendard";
  font-size: 16px;
  color: var(--neutral-default);
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid 1px var(--field-inactive-border);
  background-color: var(--field-inactive-bg);
  width: 100%;
  height: 52px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;

}

input[type="password"] {
  font-family: "Pretendard";
  font-size: 16px;
  color: var(--neutral-default);
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid 1px var(--field-inactive-border);
  background: url("../img/icon/icon_login_pw_eye.svg") var(--field-inactive-bg) no-repeat center;
  background-position: right 20px center;
  width: 100%;
  height: 52px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 35px;
}

input[type="password"]:focus {
  outline: 1.5px solid var(--field-focused-border);
}

.input_btn__box {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
  gap: 8px;
}


