@import "./font.css";

.wrap {
  display: flex;
  font-family: "Pretendard";
}

.container {
  width: 100%;
  min-height: 100dvh;
}

.title_back_btn {
  display: flex;
  width: 24px;
  height: 28px;
  background: var(--title-back-btn) no-repeat center;
  margin-right: 10px;
}

.content .content_title__box .title_item__box{
  display: flex;
  font-size: 28px;
  color: var(--neutral-default);
  font-weight: 700;
  cursor: pointer;
}
