
.snb_bar__area{
    position: fixed;
    z-index: 1100;
    right: 0;
    top: 55px;
    width: 55px;
    height: calc(100% - 55px);
    background-color: var(--bg-default);
    border-left: 1px solid var(--neutral-midium);
    box-sizing: border-box;
}

/* snb cover bg */
.snb_cover{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1099;
  width: 100%;
  height: 100%;
  background-color: var(--gray-5);
  opacity: 0.6;
  display: none; 
}


/************ Responsive *************/
/* tablet */
@media screen and (max-width:1280px) {
  /* snb cover bg */
  .snb_cover.on{
    display: block;
  }
}
@media screen and (max-width:1024px){

}
/* mobile */
@media screen and (max-width:640px) {
  
}