@import './_color.css';

.lnb_bar__area {
  position: relative;
  z-index: 1200;
  width: 190px;
  height: 100%;
  background-color: var(--bg-default);
  border-right: 1px solid var(--neutral-midium);
  box-sizing: border-box;
}
.lnb_bar__area .lnb_bar_control__box{
  position: absolute;
  top: 44px;
  left: 179px;
}
.lnb_bar__area .lnb_bar_control__box button{
  text-indent: -99999px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon/light/btn_navigation_close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;
}
.lnb_bar__area .lnb_bar_control__box.on button{
  background-image: url("../img/icon/light/btn_navigation_open.svg");
}

.lnb_bar__area .nav_logo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid var(--neutral-midium);
  box-sizing: border-box;
}
.lnb_bar__area .lnb_bar__box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 55px);
  padding: 24px 10px;
  box-sizing: border-box;
}

/* lnb_bar_content */
.lnb_bar_content ul .lnb1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.lnb_bar_content ul .lnb1:last-of-type{
  margin-bottom: 0;
}
.lnb_bar_content ul .lnb1 a,
.lnb_bar_content ul .lnb1 p{
  font-size: 14px;
  color: var(--neutral-default);
  font-weight: 500;
}
.lnb_bar_content ul .lnb1 a {
  display: block;
}
.lnb_bar_content ul .lnb1 > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 0 12px 0 40px;
  background-repeat: no-repeat;
  background-position: 6px center;
  box-sizing: border-box;
  border-radius: 4px;
}
.lnb_bar_content ul .lnb1 > div p{
  width: calc(100% - 10px);
}
.lnb_bar_content ul .lnb1 > div .menu_arrow{
  display: block;
  width: 10px;
  height: 10px;
  background: url("../img/icon/icon_nav_dropdown_off.svg") no-repeat center;
}

/* side_bar lnb1 on state */
.lnb_bar_content ul .lnb1.on > div{
  background-color: var(--brand-primary-default);
}
.lnb_bar_content ul .lnb1.on > div p{
  color: var(--bg-default)
}
.lnb_bar_content ul .lnb1.on > div .menu_arrow{
  background: url("../img/icon/icon_nav_dropdown_on.svg") no-repeat center;
}

/* side_bar lnb1 icon */
.lnb_bar_content ul .home > div{
  background-image: url("../img/icon/icon_nav_home.svg");
}
.lnb_bar_content ul .project > div{
  background-image: url("../img/icon/icon_nav_diagram.svg");
}
.lnb_bar_content ul .overview > div{
  background-image: url("../img/icon/icon_nav_overview.svg");
}
.lnb_bar_content ul .category > div{
  background-image: url("../img/icon/icon_nav_category.svg");
}
.lnb_bar_content ul .dashboard > div{
  background-image: url("../img/icon/icon_nav_dashboard.svg");
}
.lnb_bar_content ul .favorite > div{
  background-image: url("../img/icon/icon_nav_favorite.svg");
}
.lnb_bar_content ul .schedule > div{
  background-image: url("../img/icon/icon_nav_schedule.svg");
}

/* side_bar sub_menu */
.lnb_bar_content ul li .sub_menu{
  width: 100%;
  padding: 6px 0;
}
.lnb_bar_content ul li .sub_menu li{
  margin-bottom: 10px;
}
.lnb_bar_content ul li .sub_menu li:last-of-type{
  margin-bottom: 0;
}
.lnb_bar_content ul li .sub_menu li a{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 12px 0 40px;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--neutral-darkest);
  font-weight: 400;
}
.lnb_bar_content ul li .sub_menu li a::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--neutral-midium);
}
.lnb_bar_content ul li .sub_menu li.on a{
  color: var(--brand-primary-default);
  font-weight: 500;
  background-color: var(--brand-primary-lightest);
}
.lnb_bar_content ul li .sub_menu li.on a::before{
  background-color: var(--brand-primary-default);
}

/* lnb_bar_user_box */
.lnb_bar_user_box{
  display: flex;
  align-items: center;
  height: 55px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--neutral-lightest);
  flex-wrap: wrap;
  border-radius: 4px;
}
.lnb_bar_user_box .profile_img{
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;
  overflow: hidden;
}
.lnb_bar_user_box .profile_info{
  width: calc(100% - 30px);
}
.lnb_bar_user_box .profile_info p,
.lnb_bar_user_box .profile_info span{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lnb_bar_user_box .profile_info p{
  font-size: 14px;
  color: var(--neutral-default);
  font-weight: 500;
}
.lnb_bar_user_box .profile_info span{
  font-size: 11px;
  color: var(--gray-60);
}