.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w_40 {
  width: 365px;
}

.w_60 {
  width: calc(100% - 365px);
}

.w_45 {
  width: 645px;
}

.w_55 {
  width: calc(100% - 645px);
}

.w_quarter {
  width: 25%;
}

.w_full {
  width: 100%;
}

.w_260 {
  width: 260px;
}

.mb_10 {
  margin-bottom: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pl-15 {
  padding-left: 15px;
}


/************ Responsive *************/
/* tablet */
@media screen and (max-width:1280px) {
  .w_40 {
    width: 100%;
  }

  .w_60 {
    width: 100%;
  }

  .w_45 {
    width: 100%;
  }

  .w_55 {
    width: 100%;
  }
}
@media screen and (max-width:1024px){
  .pl-15{
    padding-left: 10px;
  }
}
/* mobile */
@media screen and (max-width:640px) {
  .pl-15{
    padding-left: 0;
  }
}