@import "./_color.css";
@import './_icon.css';
@import "./_input.css";
@import "./_header.css";
@import "./_sidebar.css";

/* contents_container */
.contents_container{
  position: relative;
  z-index: 1100;
  display: flex;
  flex-wrap: wrap;
}
.contents_container .contents{
  position: relative;
  z-index: 999;
  width: calc(100% - 190px);
  max-height: 100dvh;
}
.contents_container .contents .content{
  height: calc(100% - 55px); /* header의 height 값을 뺀 높이 수치 */
  background-color: var(--bg-base);
  padding: 25px;
  box-sizing: border-box;
}

/* content_title__box */
.content .content_title__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.content .content_title__box h2{
  font-size: 28px;
  color: var(--neutral-default);
  font-weight: 700;
}
.content .content_title__box .btn__box{
  display: flex;
  gap: 8px;
}
.content .content_title__box .btn__box button{
  width: 90px;
  height: 40px;
  font-weight: 500;
}
/* filter__box */
.content .filter__box{
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}
.content .filter__box .filter_state{
  display: block;
  text-indent: -99999px;
  width: 32px;
  height: 16px;
  background-image: var(--filter-large-off);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: none;
  background-color: transparent;
}
.content .filter__box .filter_state.on{
  background-image: var(--filter-large-on);
}
.content .filter__box p{
  font-weight: 500;
  color: var(--brand-primary-dark);
}

/* table__inner */
.content .table__box{
  overflow: hidden;
  height: 100%;
  max-height: calc(100% - 86px);
}
.content .table__inner{
  overflow: auto;
  max-height: calc(100% - 55px);
  border: 1px solid var(--neutral-midium);
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
}
.content .table__box table{
  width: 100%;
  height: 100%;
  table-layout: fixed;
  font-size: 14px;
  background-color: var(--bg-default);
  color: var(--neutral-default);
}
/* highlight effect */
.content .table__box table .highlight {
  background-color:var(--brand-primary-light-table-focus);
  cursor:default;
}
.content .table__box table thead{
  height: 50px;
  text-align: left;
  background-color: var(--brand-primary-lightest);
}
.content .table__box table thead th,
.content .table__box table tbody td{
  border: 1px solid var(--neutral-lighter);
  vertical-align: middle;
}
.content .table__box table thead th,
.content .table__box table tbody td{
  position: relative;
  padding: 10px 15px;
  box-sizing: border-box;
}
.content .table__box table thead th{
  font-weight: 600;
}
.content .table__box table thead th div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.content .table__box table thead th div p{
  width: calc(100% - 32px);
}
.content .table__box table thead th div button{
  width: 16px;
  height: 16px;
  border: none;
  text-indent: -99999px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.content .table__box table thead th div button.btn_table_filter{
  background-image: var(--table-header-filter);
}
.content .table__box table thead th div button.btn_table_sort{
  background-image: var(--table-header-sort);
}

.content .table__box table thead th:before,
.content .table__box table thead th:after{
  position: absolute;
  top: 50%;
  content: '';
  width: 2px;
  height: 10px;
  transform: translateY(-50%);
  background-color: var(--brand-primary-lighter);
}
.content .table__box table thead th:before{
  left: 0;
}
.content .table__box table thead th:after{
  right: 0;
}
.content .table__box table thead th:first-of-type::before,
.content .table__box table thead th:last-of-type::after{
  display: none;
}
.content .table__box table tbody tr:nth-of-type(odd){
  background-color: var(--neutral-lightest);
}
.content .table__box table tbody tr:first-of-type,
.content .table__box table tbody tr:nth-of-type(even){
  background-color: var(--bg-default);
}
.content .table__box table tbody td{
  height: 50px;
  text-align: left;
}
.content .table__box table tbody td.text_center{
  text-align: center;
}
.content .table__box table tbody td p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .table__box table tbody td input[type="text"],
.content .table__box table tbody td input[type="date"],
.content .table__box table tbody td select{
  width: 100%;
  height: auto;
  border: 1px solid var(--field-table-border);
  background-color: var(--field-table-bg);
  padding: 7px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 0;
}



/* 캘린더 영역 */
.content .table__box table tbody td input[type="date"]{
  position: relative;
  background-image: var(--calendar-icon);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  font-size: 20px;
}

.content .table__box table tbody td input[type='date']::before {
      position: absolute;
      content: attr(data-placeholder);
      width: calc(100% - 40px);
      background-color: #fff;
    }

.content .table__box table tbody td input[type="date"]::-webkit-clear-button,
.content .table__box table tbody td input[type="date"]::-webkit-inner-spin-button { 
	display: none;
}

.content .table__box table tbody td input[type='date']:focus::before,
.content .table__box table tbody td input[type='date']:valid::before {
  display: none;
}

.content .table__box table tbody td input[type='date']::-webkit-calendar-picker-indicator {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.content .table__box table tbody td input[type="date"]::-webkit-calendar-picker-indicator,
.content .table__box table tbody td input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}
/* 캘린더 영역 */


.content .table__box table tbody td select{
  box-sizing: border-box;
  -webkit-appearance:none; /* for chrome */
  -moz-appearance:none; /*for firefox*/
  appearance:none;
  background: var(--select-arrow) no-repeat 95% 50%/12px auto;
  cursor: pointer;
}
.content .table__box table tbody td select:focus{
  outline: 1.5px solid var(--field-focused-border);
}
.content .table__box table tbody td select:invalid {
  color: var(--gray-70);
}
.content .table__box table tbody td option{
  color: var(--neutral-default);
}

.content .table__box table tbody td.pdf__box .pdf_info{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .table__box table tbody td.pdf__box .pdf_info p{
  position: relative;
  width: calc(100% - 106px);
  padding-right: 15px;
  margin-right: 25px;
}
.content .table__box table tbody td.pdf__box .pdf_info p:after{
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  width: 1px;
  height: 10px;
  transform: translateY(-50%);
  background-color: var(--gray-80);
}
.content .table__box table tbody td.pdf__box .pdf_info a{
  text-indent: -99999px;
  width: 66px;
  height: 32px;
  background-image: var(--table-pdf);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/* table_control */
.table_control{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: var(--bg-default);
  border-radius: 0 0 6px 6px;
  border: 1px solid var(--neutral-midium);
  box-sizing: border-box;
}
.table_control .page_navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_control .page_navigation p{
  font-size: 15px;
  font-weight: 500;
  color: var(--neutral-darkest);
  margin: 0 70px;
}
.table_control .page_navigation button{
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
  text-indent: -99999px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.table_control .page_navigation button.off{
  opacity: 0.3;
}
.table_control .page_navigation .btn_first{
  background-image: var(--table-slide-first);
  margin-right: 20px;
}
.table_control .page_navigation .btn_prev{
  background-image: var(--table-slide-prev);
}
.table_control .page_navigation .btn_last{
  background-image: var(--table-slide-last);
  margin-left: 20px;
}
.table_control .page_navigation .btn_next{
  background-image: var(--table-slide-next);
}
.table_control .page_control{
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-darker);
}
.table_control .page_control .page_text{
  margin-right: 8px;
}
.table_control .page_control select{
  width: 80px;
  padding: 8px 10px;
  border: 1px solid var(--neutral-light);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance:none; /* for chrome */
  -moz-appearance:none; /*for firefox*/
  appearance:none;
  background: var(--select-arrow) no-repeat 95% 50%/12px auto;
}
.table_control .page_control select:focus{
  outline: 1.5px solid var(--field-focused-border);
}
.table_control .page_control .line{
  display: block;
  width: 1px;
  height: 10px;
  background-color: var(--neutral-midium);
  margin: 0 15px;
}

@media screen and (max-width:1280px) {
  .table_control{
    padding-left: 20px;
    justify-content: flex-start;
  }
}

@media screen and (max-width:640px) {
  
}