.login_container {
  padding: 50px 0;
  background-image: url('../img/bg/login_bg_default.svg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.login__area {
  width: 100%;
  max-width: 600px;
}

.logo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 24px;
}

.login_form__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 19px 40px 0 rgba(0, 0, 0, 0.1);
  border: solid 4px #fff;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 75px 100px 0;
  box-sizing: border-box;
}

/* form_title */
.form_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: bold;
  color : var(--brand-primary-default);
  margin-bottom: 50px;
}

.find_form__box .form_title{
  font-size: 38px;
  margin: 8px 0 58px;
}

/* form_input */
.form_input{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 35px;
}
.find_form__box .form_input{
  margin-bottom: 20px;
}
.form_input .login_text_input {
  border-radius: 6px;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 48px;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
}
.form_input .login__box{
  margin-bottom: 15px;
}
.form_input .login__box .login_text_input {
  background: url("../img/icon/icon_login_id.svg") var(--field-login-bg);
}
.form_input .password__box .login_text_input{
  padding-right: 48px;
  background: url("../img/icon/icon_login_pw.svg") var(--field-login-bg);
}
.form_input .email__box .login_text_input{
  background: url("../img/icon/light/btn_mail.svg") var(--field-login-bg);
}
.form_input .login__box .login_text_input,
.form_input .password__box .login_text_input,
.form_input .email__box .login_text_input{
  position: relative;
  background-position: 14px center;
  background-repeat: no-repeat;
}
.form_input .login__box .login_text_input.require,
.form_input .password__box .login_text_input.require,
.form_input .email__box .login_text_input.require{
  background-color: var(--field-required-bg);
}

.find_form__box .form_input > div{
  position: relative;  
}
.find_form__box .form_input > div .require_sign{
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
}

/* form_check */
.form_check {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
}
.form_check input,
.form_check label{
  cursor: pointer;
}

/* caution_text */
.caution_text{
  width: 100%;
  text-align: right;
  font-size: 14px;
  margin-bottom: 40px;
}
.caution_text .require_sign{
  font-size: 14px;
}

/* form_btn */
.form_btn {
  width: 100%;
  margin-bottom: 35px;
}
.form_btn .form_submit {
  width: 100%;
  background-color: var(--brand-primary-default);
  border-radius: 4px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: var(--button-text-filled-text);
  border: none;
  cursor: pointer;
}
.form_txt {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: var(--brand-primary-default);
  border-bottom: 1px solid var(--brand-primary-default);
}

@media screen and (max-width: 640px) {
  .login__area{
    max-width: 85%;
  }
  .login_form__box{
    height: auto;
    padding: 40px 20px 40px;
  }
  .logo_box{
    height: auto;
  }
  .form_title{
    margin-bottom: 30px;
  }
  .form_title{
    font-size: 30px;
  }
  .find_form__box .form_title{
    font-size: 30px;
    margin: 0 0 30px;
  }
  .form_input{
    margin-bottom: 25px;
  }
  .form_input .login_text_input{
    height: 50px;
  }
  .form_check{
    margin-bottom: 25px;
  }
  .form_btn{
    margin-bottom: 25px;
  }
  .form_btn .form_submit{
    height: 50px;
  }
}