/* table__inner */
.content .content__box {
    overflow: hidden;
    height: 100%;
    max-height: calc(100% - 55px);
}

.content__box .content__item {
  width: 100%;
  height: 100%;
}

/* tab_header */
.content__box .content__item .tab_header {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 5px;
  transform: translateY(0.75px);
}
.content__box .content__item .tab_header li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 45px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--neutral-midium);
  box-sizing: border-box;
  background-color: var(--button-tab-default-inactive-bg);
}
.content__box .content__item .tab_header li.active{
  border: 1px solid var(--neutral-midium);
  background-color: var(--bg-default);
  border-bottom: none;
}
.content__box .content__item .tab_header li button{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--button-tab-default-inactive-text);
  background-color: transparent;
  border: none;
}
.content__box .content__item .tab_header li.active button{
  color: var(--neutral-darkest);
}

/* tab_item__box */
.tab_item__box{
  position: relative;
  z-index: 1;
  height: 100%;
}
.tab_item__box .tab_item {
  display: none;
  max-height: calc(100% - 45px);
  background-color: var(--bg-default);
  font-size: 14px;
  color: var(--neutral-darkest);
  line-height: 1.2;
  border: 1px solid var(--neutral-midium);
  padding: 30px;
  border-radius: 0 4px 4px 4px;
  box-sizing: border-box;
  overflow-y: auto;
}

.tab_item__box .tab_active {
  display: block;
}



/* modal */
.modal{
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1300;
}

.modal__wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__box{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.modal__box .btn_modal_close{
  width: 34px;
  height: 34px;
  text-indent: -99999px;
  background-color: transparent;
  border: none;
  background-image: var(--modal-close-btn-w);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.modal_body{
  position: relative;
  z-index: 2;
  max-width: 1033px;
  width: 100%;
  max-height: calc(100% - 44px);
  padding: 30px;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius:10px;
  box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
  box-sizing: border-box;
}

.modal_bg {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  opacity: 0.6;
}

.modal_title {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  color: var(--neutral-default);
  font-size: 24px;
  font-weight: bold;
  font-family: "Pretendard";
  text-align: left;
}

.modal_content {
  width: 100%;
  max-height: calc(100% - 116px);
  margin-bottom: 30px;
  overflow-y: auto;
}

.modal_content_table {
  width: 100%;
  font-family: "Pretendard";
  color: var(--neutral-default);
}

.modal_content_table thead {
  background-color: var(--neutral-lightest);
  border-top: 2px solid var(--neutral-default);
  border-bottom: 1px solid var(--neutral-dark);
  box-sizing: border-box;
  height: 50px;
  text-align: left;
}
.modal_table_header {
  width: 100%;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}

.modal_table_header div {
  display: flex;
  color: var(--neutral-default);
  font-family: "Pretendard";
  font-weight: 400;
  align-items: center;
}

.modal_table_header div:first-of-type {
  margin-right: 20px;
}

.modal_content_table thead tr th {
  vertical-align: middle;
}
.modal_content_table thead tr th .info_th{
  font-weight: 500;
}

.modal_content_table tbody td {
  border : 1px solid var(--neutral-midium);
  box-sizing: border-box;
  vertical-align: middle;
  padding: 20px;

}

.modal_content_table tbody th {
  width: 121px;
  text-align: left;
  vertical-align: middle;
  border : 1px solid var(--neutral-midium);
  box-sizing: border-box;
  border-left: 0 none;
  padding: 0 10px;
  font-weight: 500;
}

.modal_content_table tbody tr {
  height: 93px;
  border-left: 0 none;
  border-right: 0 none;
}
.modal_content_table tbody tr:last-of-type td{
  margin-bottom: 0;
}

.modal_content_table tbody tr td:last-of-type {
  border-right: 0 none;
}

.modal_content_table tbody td input[type="text"] {
  width: 100%;
  height: 52px;
  padding: 0 20px;
  box-sizing: border-box;
}
.modal_content_table tbody td textarea{
  height: 100px;
}
.modal_content_table tbody td .file_label{
  height: 125px;
}

.modal_btn_box {
  width: 100%;
  height: 42px;
}

.modal_btn_box button {
  width: 125px;
  height: 100%;
}

.content .filter__box{
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}
.filter__box .filter_state{
  display: block;
  text-indent: -99999px;
  width: 32px;
  height: 16px;
  background-image: var(--filter-large-off);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: none;
  background-color: transparent;
}
.filter__box .filter_state.on{
  background-image: var(--filter-large-on);
}
.filter__box p{
  font-weight: 500;
  color: var(--brand-primary-dark);
}
.length_text {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: var(--neutral-dark);
  margin-top: 10px;
}

ul.file_list{
  display: flex;
  flex-wrap: wrap;
}

/* title_form_table file_list */
td ul.file_list{
  gap: 10px;
}
td ul.file_list li{
  position: relative;
  height: 40px;
}
td ul.file_list li:before{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  content: '';
  width: 20px;
  height: 20px;
  background-image: var(--input-file-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
td ul.file_list li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  font-size: 14px;
  color: var(--neutral-default);
  border: 1px solid var(--neutral-light);
  padding: 0 50px 0 35px;
  box-sizing: border-box;
  border-radius: 6px;
}
td ul.file_list li button{
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  background-image: var(--input-file-delete);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.file_label {
  height: 140px;
}
/* modal */

/* popup */
.pop {
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1300;
}

.pop_body {
  z-index: 2;
  position:absolute;
  top:50%;
  width: 300px;
  height: 187px;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius:10px;
  box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
  transform:translateY(-50%);
}

.pop_bg {
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  opacity: 0.3;
}

.pop_img_box {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 99%;

  translate: 0% -50%;
}

.pop_success {
  background: var(--icon-pop-success) var(--state-alert-success) no-repeat center;
}

.pop_warning {
  background: var(--icon-pop-warning) var(--state-alert-warning) no-repeat center;
}

.pop_error {
  background: var(--icon-pop-error) var(--state-alert-error) no-repeat center;
}

.pop_text_box {
  font-family: "Pretendard";
  margin-bottom: 24px;
}

.pop_text_box .pop_title {
  color: var(--brand-primary-dark);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pop_text_box .pop_sub_title {
  color: var(--neutral-darker);
  font-size: 16px;
}
.pop_btn_box {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pop_btn_box button {
  width: 104px;
  height: 42px;
}


/* popup */
/************ Responsive *************/
/* tablet */
@media screen and (max-width:1280px) {
  .modal_content_table tbody td{
    padding: 15px;
  }
}
@media screen and (max-width:1024px){
  .content__box .content__item .tab_header li{
    width: 120px;
    height: 40px;
  }
  .content__box .content__item .tab_header li button{
    font-size: 14px;
  }

  /* modal */
  .modal__wrap{
    padding: 40px;
  }
  .modal_body{
    padding: 30px 20px;
  }
  .modal_content_table{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .modal_content_table thead tr{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .modal_content_table thead tr th{
    width: 100%;
  }
  .modal_content_table tbody{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }
  .modal_content_table tbody tr{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .modal_content_table tbody th{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border: none;
    padding: 0;
  }
  .modal_content_table tbody td{
    width: 100%;
    padding: 0;
    border: none;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--neutral-midium);
  }
  .modal_content_table tbody td input[type="text"]{
    height: 45px;
    padding: 0 10px;
  }
  .modal_content_table tbody th.half_area,
  .modal_content_table tbody td.half_area{
    width: 50%;
    border-bottom: 1px solid var(--neutral-midium);
  }
  .modal_content_table tbody th.half_area{
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .modal_content_table tbody td.half_area{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: content-box;
  }
}

/* 셀렉트 박스 */
.multiselect {
  position: relative;
}
.multiselect__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-height: 40rem;
  padding: 10rem 5rem 10rem 10rem;
  /*background-color: var(--white);*/
  background-color: var(--common-100);
  border-radius: 3rem;
  /*border: 1px solid var(--black-20);*/
  border: 1px solid var(--common-0);
  cursor: pointer;
  --tw-shadow: 1rem 2rem 10rem -2rem rgba(0, 0, 0, 0.3);
  /*--tw-shadow-colored: 1rem 2rem 10rem -2rem var(--tw-shadow-color);*/
  --tw-shadow-colored: 1rem 2rem 10rem -2rem rgba(0,0,0,0);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.multiselect__header::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header::placeholder {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:focus::-webkit-input-placeholder {
  padding: 1rem 6rem;
  color: rgba(0, 0, 0, 0.4);
}
.multiselect__header:focus::-moz-placeholder {
  padding: 1rem 6rem;
  color: rgba(0, 0, 0, 0.4);
}
.multiselect__header:focus:-ms-input-placeholder {
  padding: 1rem 6rem;
  color: rgba(0, 0, 0, 0.4);
}
.multiselect__header:focus::-ms-input-placeholder {
  padding: 1rem 6rem;
  color: rgba(0, 0, 0, 0.4);
}
.multiselect__header:focus::placeholder {
  padding: 1rem 6rem;
  color: rgba(0, 0, 0, 0.4);
}
.multiselect__header:focus::-moz-selection {
  background-color: rgba(0, 0, 0, 0.15);
}
.multiselect__header:focus::selection {
  background-color: rgba(0, 0, 0, 0.15);
}
.multiselect__header::-moz-selection {
  background-color: rgba(0, 0, 0, 0.15);
}
.multiselect__header::selection {
  background-color: rgba(0, 0, 0, 0.15);
}
.multiselect__header:hover {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.multiselect__header:focus, .multiselect__header:hover {
  color: rgb(0, 0, 0);
  border: 1rem solid rgba(0, 0, 0, 0.8);
}
.multiselect__header-arrow{
  /*background-color: var(--black);*/
  background-color: var(--gray-5);
  -webkit-mask-image: var(--select-arrow);
  /*mask-image: url("../img/icon/icon_menu_updown.svg");*/
  mask-image: var(--select-arrow);
  width: 24rem;
  height: 24rem;
  min-width: 24rem;
  min-height: 24rem;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.multiselect__header-arrow.up {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
.multiselect__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10rem;
}
.multiselect__content {
  position: absolute;
  overflow: auto;
  width: 100%;
  max-height: 190rem;
  /*background-color: var(--white);*/
  background-color: var(--common-100);
  border-radius: 3rem;
  /*border: 1px solid var(--black-20);*/
  border: 1px solid var(--common-0);
  border-width: 0 1rem 1rem;
  z-index: 12;
}
.multiselect__content::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
}
.multiselect__content::-webkit-scrollbar-track {
  background-color: transparent;
}
.multiselect__content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1rem solid gray;
  border-radius: 10rem;
  -webkit-box-shadow: inset 0px 0px 10rem rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10rem rgb(0, 0, 0);
  border: 2rem solid transparent;
}
.multiselect__content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10rem 10rem 10rem 32rem;
}
.multiselect__content label::after {
  left: 10rem;
}
.multiselect__content label:hover {
  /*background-color: var(--form);*/
  /*color: var(--white);*/
  background-color: var(--bg-default);
  color: var(--common-100);
}
.multiselect .selected-badge {
  display: inline-block;
  padding: 5rem 10rem;
  /*background-color: var(--form);*/
  background-color: var(--bg-default);
  color: var(--common-100);
  border-radius: 22rem;
}



/* mobile */
@media screen and (max-width:640px) {
  .content__box .content__item .tab_header li{
    width: 25%;
  }
  .content .content__box{
    max-height: calc(100% - 134px);
  }
  .tab_item__box .tab_item{
    height: calc(100% - 40px);
    padding: 20px;
  }

  /* modal */
  .modal{
    height: 100dvh;
  }
  .modal__wrap{
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    padding: 0;
  }
  .modal__box{
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .modal__box .btn_modal_close{
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: var(--modal-close-btn-d);
    margin-bottom: 0;
  }
  .modal_title{
    line-height: 1.2;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .modal_body{
    width: 100%;
    max-height: none;
    border-radius: 0;
    padding: 60px 15px 40px;
    box-sizing: border-box;
  }
  .modal_content{
    max-height: none;
    margin-bottom: 25px;
  }
  .modal_content_table{
    padding: 0 5px;
  }
  .modal_content_table thead tr th{
    font-size: 14px;
  }
  .file_list{
    width: 100%;
  }
  .file_list li{
    width: 100%;
  }
  td ul.file_list li a span{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
    text-align: left;
  }
}
